@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

h1 {
  color: #7469b6;
  font-size: 150px;
  font-family: "Jersey 10", sans-serif;
  margin-bottom: 10px;
  margin-top: 50px;
}
#score-bord {
  display: inline-block;
  background-color: #e1acac;
  line-height: 25px;
  text-align: center;
  font-size: 5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 60px;
  color: #7469b6;
  border-radius: 25px;
  align-items: center;
  margin-bottom: 40px;
}

input {
  width: 360px;
  height: 55px;
  border-radius: 20px;
  border: 2px solid #7469b6;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 20px;
}
input:hover {
  border: 2px solid #7469b6;
  background-color: #d5d0f0;
}

a,
button {
  width: 350px;
  padding: 20px;
  background-color: #e1acac;
  border-radius: 28px;
  border: none;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 10px;
  color: #7469b6;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
a:hover,
button:hover {
  background-color: #7bc9ff;
  color: #e1acac;
  border: #7bc9ff;
}
.robot {
  display: flex;
}

.happy {
  width: 50px;
  height: 50px;
  position: relative;
  top: -435px;
  right: -160px;
  display: none;
}
.happy2 {
  display: block;
  animation: validation 2.5s ease-in-out;
  animation-iteration-count: 1;

  animation-fill-mode: forwards;
}

@keyframes validation {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-80px) translateX(0);
  }
  100% {
    transform: translateY(-80px) translateX(+150px);
  }
}
.hand {
  width: 50px;
  position: relative;
  top: -350px;
  left: +200px;
  display: none;
}
.hand2 {
  display: block;
  animation: showhand 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes showhand {
  0% {
    transform: translateY(0) translateX(0);
  }

  100% {
    transform: translateY(-20px) translateX(-20px);
  }
}
/* #typing-text {
  overflow: hidden;
  border-right: 0.15rem solid black;
  white-space: nowrap;
  margin-bottom: 10px;
  margin-left: 680px;
  letter-spacing: 0.15rem;
  animation: typing 3.5s step(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
} */
