* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #ffe6e6;
}
